/* 共通指定 common -----------*/​
/* 1.全体のフォントサイズ */
/*body{
  color: #6a6a6a;
  font-family: "游ゴシック" ,"Yu Gothic" , "Hiragino Kaku Gothic ProN" , "メイリオ", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: .5px;
}*/


/* 2.リンクの指定 */

/* 3.全体のレイアウト */
/* header --------*/

/* nav ----------*/
/* main visual ------*/
​
/* contents --------*/








/*#container{
  width: 100%;
  overflow: hidden;

}

#mainvisual{
  width: 1100px;
  margin: auto;
}


#logo{
  width: 278px;
  background: #ffffff;
}

.story_title{
  text-align: center;
}*/
/*.wave{
  width: 172px;
}*/
